
    <%- include('./partials/head.ejs') %>
    <%- include('./partials/header.ejs') %>
        <div class="main__container">
            <div class="main__post">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet obcaecati doloribus reprehenderit mollitia in at iure suscipit eum incidunt cum accusantium omnis magnam, consequatur consequuntur nesciunt. Officia quos perspiciatis illum?</p>
                <div>
                    <img src="" alt="">
                    <button class="click"> Read More</button>
                </div>
            </div>
            <div class="main__post">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet obcaecati doloribus reprehenderit mollitia in at iure suscipit eum incidunt cum accusantium omnis magnam, consequatur consequuntur nesciunt. Officia quos perspiciatis illum?</p>
                <div>
                    <img src="" alt="">
                    <button class="click"> Read More</button>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
