header{
    z-index: 100;
    display: block;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    width: 100%;
    background-color: rgba(26, 25, 25, .9);
}
.header__desktop{
    display: flex;
    height: 10vh;
    align-items: center;
}
.main__icon{
    color: #FF0000;
    margin-left: 5px;
    font-size: 35px;
}
header i{
    color: white;
}
.header__left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    padding-left: 20px;
}
.header__left h1{
    font-size: 30px;
    margin-left: 15px;
    color: white;
}
.header__center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.normal__search{
    background-color: gray;
    padding: 8px 20px;
    height: 40px;
}
.mini__search{
    display: none;
    background-color: transparent;
}
.header__right{
    display: flex;
    justify-content: flex-end;
    width: 100px;
    margin-right: 40px;
}
.header__right i{
    margin-left: 10px;
}
.header__searchBar{
    display: block;
    width: 60%;
    height: 40px;
    font-size: 25px;
    padding-left: 10px;
}
.header__minisearchBar{
    width: 95%;
    height: 25px;
    margin-right: 10px;
    
}
.header__back{
    display: none;
    font-size: 35px;
}

@media only screen and (max-width: 700px) {
    .header__mini{
        width: 200px;
    }
    .header__left{
        width: 100px;
    }
    .header__center{
        justify-content: flex-end;
        padding-left: 5px;
    }
    .normal__search{
        display: none;
    }
    .mini__search{
        display: block;
    }
    .header__searchBar{
        display: none;
        width: 100%;
        font-size: 20px;
    }
    .header__left h1{
        font-size: 20px;
    }
}
@media only screen and (max-width: 325px) {
    .header__left h1{
        font-size: 15px;
    }
    .main__icon{
        font-size: 27px;
    }
    .header__left i, .header__center i, .header__right i{
        font-size: 20px;
    }
}
