.footer{
    background-color: black;
    color: white; 
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}
.projects__footer{
    background-color: black;
    color: white; 
    height: 25vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}
.footer__list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.footer img,.projects__footer img{
    display: flex;
    align-self: center;
    justify-self: center;
}
.footer__item{
    margin-left:10px ;
    font-size: 20px;
}
.footer__main{
    font-size: 80px;
}
.footer__icon{
    font-size: 25px;
    margin-left: 10px;
}
.footer__list a{
    text-decoration: none;
    color: white;
}
