*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white
}
.container{
    width: 100%;
}
.container__slider{
    position: relative;
}
.container__slider img{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 21/9;
}
.slider__left, .slider__right{
    font-size: 45px;
    position: absolute;
    top: 40%;
    border-radius: 45px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
    cursor: pointer;
}
.slider__left:hover, .slider__right:hover{
    opacity: .6;
}
.slider__left{
    left: 25px;
}
.slider__right{
    right: 25px;
}
.container__sections{
    background-color: #c3c3c3;
    justify-content: space-around;
    margin: -4px auto;
}
.container__section{
    display: flex;
    max-height: 400px;
    min-height: 400px;
}
.section__image{
    display: flex;
    align-items: center;
    width: 50%;
}
.section__photo{
    margin: 0 auto;
    font-size: 300px;
}
.section__info{
    color: black;
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-right: 20px;
    margin-left: 20px;
    align-self: center;
}
.section__title{
    align-self: center;
    font-size: 35px;
}
.section__description{
    text-align: center;
    font-size: 25px;
}
.section__info hr{
    margin-top: 10px;
}
.section__button{
    align-self: center;
    margin-top: 20px;
    padding: 10px;
    background: transparent;
    background-color: black;
    border-radius: 25px;
    color: white;
    transition: 250ms;
    cursor: pointer;
}
.section__button:hover{
    padding: 20px;
}
.section__button button{
    font-size: 17px;
    background: transparent;
    cursor: pointer;
    border: 0;
    color: white;
}
.section__button:hover button{
    color: darkgoldenrod;
}
.section__paragraph{
    font-size: 20px;
    font-style: italic;
    margin-left: 40px;
}
a:hover{
    opacity: .6;
}