*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}
i, .main__title{
    cursor: pointer;
}
body{
    background-color: rgb(56, 55, 55);
    margin-bottom: 20px;
}
.darkMode{
    background-color: rgb(56, 55, 55);
}
main{
    max-width: 100vw;
    height: 100%;
    padding-top: 10vh;
    padding-left: 10.5vw;
    transition: 200ms;
}
.main__solo{
    padding-left: 0vw;
}
.main__container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__container p{
    color: white;
    font-size: 40px;
}

/* RESPONSIVE */

@media only screen and (max-width: 1800px) {
    main{
        padding-left: 0vw;
    }
}