*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}
.container{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( blue,rgb(43, 43, 216), lightblue);
}
.game__title{
    position: absolute;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 100px;
    top: 100px;
    left: 0;
}
.grass{
    position: absolute;
    top: 700px;
    color: green;
    background-image: linear-gradient( darkgreen,rgb(100, 50, 9));
    width: 100%;
    height: 300px;
    border: 1px solid green;
}
.char{
    position: absolute;
    top: 636px;
    left: 10px;
}
.char img{
    width: 64px;
    image-rendering: pixelated;
}
.bolt{
    position: absolute;
    left:0px;
    top: 0px;
    width: 64px;
    z-index: 3;
    image-rendering: pixelated;
}