
    <%- include('./partials/head.ejs') %>

    <%- include('./partials/header.ejs') %>
       <p class="e404">404 no page found... <a href="/">click here</a> to go back.</p>
    <%- include('./partials/footer.ejs') %>